<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <title>Maïlys Dussert</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <meta name="description" content="FlexyCodes - FlexyCard vCard Template. Creating my personal page!"/>

    <!-- CSS | bootstrap -->
    <!-- Credits: http://getbootstrap.com/ -->
    <link  rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />

    <!-- CSS | font-awesome -->
    <!-- Credits: http://fortawesome.github.io/Font-Awesome/icons/ -->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />

    <!-- CSS | animate -->
    <!-- Credits: http://daneden.github.io/animate.css/ -->
    <link rel="stylesheet" type="text/css" href="../css/animate.min.css" />

    <!-- CSS | Normalize -->
    <!-- Credits: http://manos.malihu.gr/jquery-custom-content-scroller -->
    <link rel="stylesheet" type="text/css" href="../css/jquery.mCustomScrollbar.css" />

    <!-- CSS | Colors -->
    <link rel="stylesheet" type="text/css" href="../css/colors/rose.css" />

    <!-- CSS | Style -->
    <!-- Credits: http://themeforest.net/user/FlexyCodes -->
    <link rel="stylesheet" type="text/css" href="../css/main.css" />

    <!-- CSS | prettyPhoto -->
    <!-- Credits: http://www.no-margin-for-errors.com/ -->
    <link rel="stylesheet" type="text/css" href="../css/prettyPhoto.css"/>

    <!-- CSS | Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <!-- Favicon
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon/favicon.ico">-->

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="css/icons/font-awesome-ie7.min.css"/>
    <![endif]-->

    <style>
        @media only screen and (max-width : 991px){
            .resp-vtabs .resp-tabs-container {
                margin-left: 13px;
            }
        }
        @media only screen and (min-width : 800px) and (max-width : 991px){
            .resp-vtabs .resp-tabs-container {
                margin-left: 13px;
                width:89%;
            }
        }

    </style>

</head>

<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Laoding page -->
<div id="preloader"><div id="spinner"></div></div>

<!-- .slideshow -->
<!--<ul class="cb-slideshow" id="cb_slideshow">
    <li><span>Image 01</span><div></div></li>
    <li><span>Image 02</span><div></div></li>
    <li><span>Image 03</span><div></div></li>
    <li><span>Image 04</span><div></div></li>
    <li><span>Image 05</span><div></div></li>
    <li><span>Image 06</span><div></div></li>
</ul> -->
<!-- /.slideshow -->

<!-- .wrapper -->
<div class="wrapper">

<!--- .Content -->
<section class="tab-content">
<div class="container">

<div class="row">

<div class="col-md-12">

<div class="row">

{% include 'widget_profil.twig' %}

<div class="col-md-9 flexy_content" style="padding-left: 0;padding-right: 0;">

    <!-- verticalTab menu -->
    <div id="verticalTab">

        <ul class="resp-tabs-list">
            <li class="tabs-profile hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a profile" data-tab-name="profile">
                <span class="tite-list">profile</span>
                <i class="fa fa-user icon_menu icon_menu_active"></i>
            </li>

            <li class="tabs-resume hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a" data-tab-name="resume">
                <span class="tite-list">resume</span>
                <i class="fa fa-tasks icon_menu"></i>
            </li>

            <!--
            <li class="tabs-portfolio hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a" data-tab-name="portfolio">
                <span class="tite-list">portfolio</span>
                <i class="fa fa-briefcase icon_menu"></i>
            </li>
            -->

            <!--
            <li class="tabs-blog hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a" data-tab-name="blog">
                <span class="tite-list">blog</span>
                <i class="fa fa-bullhorn icon_menu"></i>
            </li>
            -->

            <li class="tabs-contact hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a" data-tab-name="contact" style="margin-bottom: 48px !important;">
                <span class="tite-list">contact</span>
                <i class="fa fa-envelope icon_menu"></i>
            </li>

            <!--<a href="javascript:window.print();" id="print"><i class="fa fa-print icon_print"></i> </a>-->
            <a target="_blank" href="/media/DUSSERT_Mailys_CV.pdf" id="downlowd"><i class="fa fa-download icon_print"></i> </a>

        </ul>
        <!-- /resp-tabs-list -->

        <!-- resp-tabs-container -->
        <div class="resp-tabs-container">

            <!-- profile -->
            {% include 'profil.twig' %}
            <!-- End .profile -->

            <!-- .resume -->
            {% include 'resume.twig' %}
            <!-- End .resume -->

            <!-- .portfolio -->
            <!-- Disable for now -->
            {#% include 'portfolio.twig' %#}
            <!-- End .portfolio -->

            <!-- .blog -->
            <!-- Disable for now -->
            {#% include 'blog.twig' %#}
            <!-- End .blog -->

            <!-- .contact -->
            {% include 'contact.twig' %}
            <!-- End .contact -->

        </div>
        <!-- End #resp-tabs-container -->

    </div><!-- End verticalTab -->

</div><!-- End flexy_content -->


</div><!-- End row -->

</div><!-- End col-md-12 -->

</div><!-- End row -->

</div><!-- End container -->

</section>
<!-- End Content -->

</div>
<!-- End wrapper -->


<!-- jquery | jQuery 1.11.0 -->
<!-- Credits: http://jquery.com -->
<script type="text/javascript" src="../js/jquery.min.js"></script>

<!-- Js | bootstrap -->
<!-- Credits: http://getbootstrap.com/ -->
<script type="text/javascript" src="../js/bootstrap.min.js"></script>

<!-- Js | jquery.cycle -->
<!-- Credits: https://github.com/malsup/cycle2 -->
<script type="text/javascript" src="../js/jquery.cycle2.min.js"></script>

<!-- jquery | rotate and portfolio -->
<!-- Credits: http://jquery.com -->
<script type="text/javascript" src="../js/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="../js/HeadImage.js"></script>

<!-- Js | easyResponsiveTabs -->
<!-- Credits: http://webtrendset.com/demo/easy-responsive-tabs/Index.html -->
<script type="text/javascript" src="../js/easyResponsiveTabs.min.js"></script>

<!-- Js | mCustomScrollbar -->
<!-- Credits: http://manos.malihu.gr/jquery-custom-content-scroller -->
<script type="text/javascript" src="../js/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- jquery | prettyPhoto -->
<!-- Credits: http://www.no-margin-for-errors.com/ -->
<script type="text/javascript" src="../js/jquery.prettyPhoto.js"></script>

<!-- Js | gmaps -->
<!-- Credits: http://maps.google.com/maps/api/js?sensor=true-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="../js/gmaps.min.js"></script>

<!-- Js | Js -->
<!-- Credits: http://themeforest.net/user/FlexyCodes -->
<script type="text/javascript" src="../js/main.js"></script>

<!-- code js for image rotate -->
<script type="text/javascript">

    var mouseX;
    var mouseY;
    var imageOne;

    /* Calling the initialization function */
    $(init);

    /* The images need to re-initialize on load and on resize, or else the areas
     * where each image is displayed will be wrong. */
    $(window).load(init);
    $(window).resize(init);

    /* Setting the mousemove event caller */
    $(window).mousemove(getMousePosition);

    /* This function is called on document ready, on load and on resize
     * and initiallizes all the images */
    function init() {

        /* Instanciate the mouse position variables */
        mouseX = 0;
        mouseY = 0;

        /* Instanciate a HeadImage class for every image */
        imageOne = new HeadImage("one");

    }

    /* This function is called on mouse move and gets the mouse position.
     * It also calls the HeadImage function to display the correct image*/
    function getMousePosition(event) {

        /* Setting the mouse position variables */
        mouseX = event.pageX;
        mouseY = event.pageY;

        /*Calling the setImageDirection function of the HeadImage class
         * to display the correct image*/
        imageOne.setImageDirection();

    }

</script>


<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</body>
</html>