<a target="_blank" href="https://www.facebook.com/mailys.dussert"><i class="fa fa-facebook"></i></a>
<a target="_blank" href="https://twitter.com/MailysDussert"><i class="fa fa-twitter"></i></a>
<a target="_blank" href="http://www.linkedin.com/pub/maïlys-dussert/35/b33/513"><i class="fa fa-linkedin"></i></a>
<div class="clear"></div>